# Series

In [1]:
import pandas as pd
import numpy as np

a = [1, 2, 3, 4]
b = pd.Series(a, name="list", index=['a', 'b', 'c', 'd'], dtype=float)
print(b)
print(b[0])

e = [1, 2, 3, 4]
f = pd.Series(e)
c = [1, 2, 3, 4, 5, 5, 6, 6]
d = pd.Series(c)
print(d+f)  # Return sometimes nan which is differ from numpy

a    1.0
b    2.0
c    3.0
d    4.0
Name: list, dtype: float64
1.0
0    2.0
1    4.0
2    6.0
3    8.0
4    NaN
5    NaN
6    NaN
7    NaN
dtype: float64

/tmp/ipykernel_681/2687218729.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(b[0])

## Basic Dataframe

In [ ]:
l = [1, 23, 4, 5]
ll = pd.DataFrame(l)
print(ll, type(ll))

dic = {"A": [1, 2, 3, 4, 5], "B": [1, 2, 3, 4, 5]}
dc = pd.DataFrame(dic, columns=["A"])  # just showing A
print(dc, "\n")
print(dc["A"][2])  # 3
dc.index.tolist()
# pd.read_feather()

    0
0   1
1  23
2   4
3   5 <class 'pandas.core.frame.DataFrame'>
   A
0  1
1  2
2  3
3  4
4  5

3

[0, 1, 2, 3, 4]

## Arithmetic Operators

In [19]:
a = pd.DataFrame({"A": [12, 3, 4, 5], "B": [1, 2, 3, 4]})
print(a)

a["C"] = a["A"]+a["B"]  # new c column  using addition
print(a)


a["BOOL"] = a["A"] >= 11
print(a)

    A  B
0  12  1
1   3  2
2   4  3
3   5  4
    A  B   C
0  12  1  13
1   3  2   5
2   4  3   7
3   5  4   9
    A  B   C   BOOL
0  12  1  13   True
1   3  2   5  False
2   4  3   7  False
3   5  4   9  False

## Delete and Insert

In [28]:

# --- Create sample DataFrame ---
df = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [4, 5, 6]
})

print("Original DataFrame:")
print(df, "\n")

# --- INSERT OPERATIONS ---

# Insert a new column at position 1
df.insert(1, "C", [10, 20, 30])
print("After inserting column C:")
print(df, "\n")

# Insert a new row (at the end)
df.loc[len(df)] = [7, 70, 9]
print("After inserting a new row:")
print(df, "\n")

# Insert (update) a single cell
df.at[1, "B"] = 55
print("After updating cell (row 1, col B):")
print(df, "\n")

# --- DELETE OPERATIONS ---

# Delete a column
df = df.drop(columns=["C"])
print("After deleting column C:")
print(df, "\n")

# Delete a row by index
df = df.drop(index=0)
print("After deleting row with index 0:")
print(df, "\n")

# Delete based on condition (rows where A < 3)
df = df[df["A"] >= 3]
print("After deleting rows where A < 3:")
print(df, "\n")

# Delete a single cell (set as NaN)
df.at[2, "B"] = np.nan
print("After setting a cell to NaN (deleting value):")
print(df, "\n")

Original DataFrame:
   A  B
0  1  4
1  2  5
2  3  6

After inserting column C:
   A   C  B
0  1  10  4
1  2  20  5
2  3  30  6

After inserting a new row:
   A   C  B
0  1  10  4
1  2  20  5
2  3  30  6
3  7  70  9

After updating cell (row 1, col B):
   A   C   B
0  1  10   4
1  2  20  55
2  3  30   6
3  7  70   9

After deleting column C:
   A   B
0  1   4
1  2  55
2  3   6
3  7   9

After deleting row with index 0:
   A   B
1  2  55
2  3   6
3  7   9

After deleting rows where A < 3:
   A  B
2  3  6
3  7  9

After setting a cell to NaN (deleting value):
   A    B
2  3  NaN
3  7  9.0

## CSV FILES

In [4]:
# Create some sample data
data = {
    "ID": [1, 2, 3, 4],
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Score": [85, 90, 78, 92]
}

# Convert to DataFrame
df = pd.DataFrame(data)

print(df)
df.to_csv("students.csv", index=False)

print("CSV file created successfully!")


# New row to append
new_data = pd.DataFrame({"ID": [5], "Name": ["Eva"], "Score": [88]})

# Append and save again
df = pd.concat([df, new_data], ignore_index=True)
df.to_csv("students.csv", index=False)

print("New row added!")


# Load CSV file into DataFrame
df_loaded = pd.read_csv("students.csv", usecols=["Name"])  # Name Column

print(df_loaded)
print(df_loaded.index)

   ID     Name  Score
0   1    Alice     85
1   2      Bob     90
2   3  Charlie     78
3   4    David     92
CSV file created successfully!
New row added!
      Name
0    Alice
1      Bob
2  Charlie
3    David
4      Eva
RangeIndex(start=0, stop=5, step=1)

In [ ]:
# for excel
a = pd.read_excel()
pd.tail